# 1

* Коэффициент корреляции Спирмена
* Коэффициент корреляции Пирсона

# 2

* Коэффициент V Крамера

# 3

* Разность между средними доходами водителей и не-водителей

# 4

In [1]:
import pandas

illiteracy = pandas.read_table('illiteracy.txt', sep='\t')
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [7]:
'%.4f' % illiteracy['Illit'].corr(illiteracy['Births'])

'0.7687'

# 5

In [8]:
'%.4f' % illiteracy['Illit'].corr(illiteracy['Births'], method='spearman')

'0.7530'