In [16]:
from math import sqrt
from pandas import DataFrame, read_csv
from scipy import stats
from sklearn import ensemble, linear_model, model_selection, tree

### 4

In [26]:
z = (9.57 - 9.5) / (0.4 / sqrt(160))
2 * (1 - stats.norm.cdf(abs(z)))

0.026856695507523787

### 6

In [23]:
diamonds = read_csv('diamonds.txt', sep='\t', header=0)
diamonds.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [41]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(
    diamonds[['carat', 'depth', 'table', 'x', 'y', 'z']].values,
    diamonds['price'].values, 
    random_state=1,
)

In [42]:
model_1 = linear_model.LinearRegression().fit(X_train, y_train)

In [43]:
model_2 = ensemble.RandomForestRegressor(random_state=1).fit(X_train, y_train)

In [57]:
diff_1 = abs(model_1.predict(X_test) - y_test)
diff_2 = abs(model_2.predict(X_test) - y_test)
loc = abs(diff_1.mean() - diff_2.mean())
loc

85.673517953209512

In [48]:
stats.ttest_rel(diff_1, diff_2)

Ttest_relResult(statistic=12.7450567751852, pvalue=5.4286548179622558e-37)

### 7

In [58]:
stats.t.interval(0.95, len(y_test) - 1, loc, stats.sem(diff_1 - diff_2))

(72.497265650132718, 98.849770256286305)